{% if contentType %}
	<div class="btn-group">
		<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			<i class="fa fa-eye"></i>
			Views in {{ environment.name }}
			<span class="caret"></span>
			<span class="sr-only">Toggle dropdown of {{ contentType.name }}'s custom views</span>
		</button>
		<ul class="dropdown-menu" role="menu">
	{# 		{% if recursiveView is not defined or not recursiveView  %}#}
				{% for template in contentType.templates %}
					<li>
						{% if template.renderOption is constant('AppBundle\\Form\\Field\\RenderOptionType::EXTERNALLINK') %}
							<a href="{% include template_from_string(template.body) with {
										environment: environment,
										contentType: contentType,
										object: object,
										source: object._source
									} %}" target="_blank">
								<i class="{{ template.icon|raw }}"></i>
								{{ template.name }}
								<i class="fa fa-external-link pull-right"></i>
							</a>	
						{% else %}{#  #}
							<a href="{{ path('data.customview', {
										environmentName: environment.name,
										ouuid: object._id,
										templateId: template.id}) }}" >
								<i class="{{ template.icon|raw }}"></i>
								{{ template.name }}
							</a>
						{% endif %}						
							
					</li>
				{% endfor %}
				<li>
					<a href="{{ path('data.view', {'environmentName': environment.name, 'type': contentType.name, 'ouuid': object._id} ) }}">
						<span class="entity">&infin;</span>
						Recursive view
					</a>
				</li>
	{# 		{% endif %}#}
		</ul>
	</div>
{% else %}

		<a class="btn btn-sm btn-primary " href="{{ path('data.view', {'environmentName': environment.name, 'type': object._type, 'ouuid': object._id} ) }}">
			<span class="entity">&infin;</span>Recursive view
		</a>
{% endif %}
