  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
        	{% if app.user %}
	          <img src="http://www.gravatar.com/avatar/df5cb42a86d5ded57a694955887c476d?d={{ "http://www.gravatar.com/avatar"|url_encode }}" class="img-circle" alt="{{ app.user.username }}">
	        {% else %}
	          <img src="{{ asset('images/anonymous.gif') }}" class="img-circle" alt="Anonymous">
        	{% endif %}
        </div>
        <div class="pull-left info">
          <p>{% if app.user|humanize %} {{ app.user.username }} {% else %} Anonymous {% endif %}</p>
          <!-- Status -->
          <a href="{{ url('elasticsearch.status') }}" id="status-overview"><i class="fa fa-circle"></i> Updating...</a>
        </div>
      </div>

      <!-- search form (Optional) -->
      <form action="{{ url('elasticsearch.search') }}" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">Content Management</li>
        <!-- Optionally, you can add icons to the links -->
        {% for contentType in contentTypes %}
        	{% if contentType.active %}
	          <li class="">
	          	<a href="/data/{{ contentType.name }}" class="text-{{ contentType.color }}">
	          		<i class=" {% if contentType.icon %}{{ contentType.icon }}{% else %}fa fa-book{% endif %}"></i> <span>{{ contentType.pluralName|humanize }}</span>
	          		
	            	{% if draftCounterGroupedByContentType[contentType.id] is defined %}
	          			<span class="label {% if contentType.color %}bg-{{ contentType.color }}{% else %}label-primary{% endif %} pull-right">{{ draftCounterGroupedByContentType[contentType.id] }}</span>
	          		{% else %}
		          		<i class="fa fa-angle-left pull-right"></i>
	          		{% endif %}
	          	</a>
	          	<ul class="treeview-menu">
	            	<li class=""><a href="{{ path('data.index', { contentTypeId: contentType.id }) }}">Index all {{ contentType.pluralName|humanize }}</a></li>
	            	{% if contentType.locationField %}
	            	  <li class=""><a href="#">Google map view</a></li>
	            	{% endif%}
	            	{% if contentType.startDateField %}
	            	  <li class=""><a href="#">Timeline view</a></li>
	            	{% endif%}
	            	{% if contentType.dateField %}
	            	  <li class=""><a href="#">Calendar view</a></li>
	            	{% endif%}
	            	{% if contentType.parentField %}
	            	  <li class=""><a href="#">Hierarchical view</a></li>
	            	{% endif%}
	            	{% if contentType.imageField %}
	            	  <li class=""><a href="#">Galerie view</a></li>
	            	{% endif%}
	            	{% if draftCounterGroupedByContentType[contentType.id] is defined %}
	          			<li class=""><a id="menu-data-draft-{{ contentType.id }}" href="{{ path('data.draft_in_progress', { contentTypeId: contentType.id } ) }}"><span>Drafts in progress</span> <span class="label {% if contentType.color %}bg-{{ contentType.color }}{% else %}label-primary{% endif %} pull-right">{{ draftCounterGroupedByContentType[contentType.id] }}</span></a></li>
	            	{% endif %}
	            	{% if contentType.environment.managed %}
	            		<li class=""><a id="menu-data-add-{{ contentType.id }}" href="{{ path('data.add', { contentTypeId: contentType.id }) }}">New {{ contentType.name|humanize }}</a></li>
	            	{% endif %}
	          	</ul>
	          </li>
	        {% endif %}
         {% endfor %}
		</ul>


      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">Admin</li>        
          <li class="treeview">
            <a href="#"><i class="fa fa-sitemap"></i> <span>Content Types</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a id="menu-contenttype-list" href="{{ url('contenttype.list') }}">List Content Types</a></li>
              <li><a id="menu-contenttype-add" href="{{ url('contenttype.add') }}">New Content Type</a></li>
            </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-database"></i> <span>Environments</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
              <li><a id="menu-environment-list" href="{{ url('environment.list') }}">List Environments</a></li>
              <li><a id="menu-environment-add" href="{{ url('environment.add') }}">New Environment</a></li>
            </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-cubes"></i> <span>Elasticsearch</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li><a id="menu-elasticsearch-status" href="{{ url('elasticsearch.status') }}">Status</a></li>
          </ul>
        </li>
	  </ul>
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">OTHER</li>
        <li>
        	<a id="menu-documentation" href="{{ url('documentation') }}">
        		<i class="fa fa-book"></i> <span>Documentation</span>
        	</a>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
