
{%  macro renderDataField(dataField) %}
	{{ attribute(_self, dataField.fieldType.type|replace({'\\': '_'}), [dataField]) }}
{% endmacro %}

{% macro AppBundle_Form_DataField_ContainerFieldType(dataField) %}
    {% if dataField.fieldType.displayOptions.label is defined %}
    	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					{% if dataField.fieldType.displayOptions.icon is defined %}
						<i class="{{ dataField.fieldType.displayOptions.icon }}"></i> 
					{% endif %}
					{% if dataField.fieldType.displayOptions.label is defined %}
						{{ dataField.fieldType.displayOptions.label }}
					{% else %}
						{{ dataField.fieldType.name }}
					{% endif %}
				</h3>
			</div>
			<div class="panel-body">
	{% endif %}
		{% for child in dataField.children if not child.fieldType.deleted %}
			<div class="{% if child.fieldType.displayOptions.class is defined and child.fieldType.displayOptions.class  %}{{ child.fieldType.displayOptions.class }}{%else%}col-md-12{% endif %}">
				{{ attribute(_self, child.fieldType.type|replace({'\\': '_'}), [child]) }}
			</div>
		{% endfor %}
    {% if dataField.fieldType.displayOptions.label is defined %}
    		</div>
		</div>
	{% endif %}
{% endmacro %}

{% macro AppBundle_Form_DataField_NestedFieldType(dataField) %}
    {% if dataField.fieldType.displayOptions.label is defined %}
    	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					{% if dataField.fieldType.displayOptions.icon is defined %}
						<i class="{{ dataField.fieldType.displayOptions.icon }}"></i> 
					{% endif %}
					{% if dataField.fieldType.displayOptions.label is defined %}
						{{ dataField.fieldType.displayOptions.label }}
					{% else %}
						{{ dataField.fieldType.name }}
					{% endif %}
				</h3>
			</div>
			<div class="panel-body">
	{% endif %}
		{% for child in dataField.children if not child.fieldType.deleted %}
			<div class="{% if child.fieldType.displayOptions.class is defined and child.fieldType.displayOptions.class  %}{{ child.fieldType.displayOptions.class }}{%else%}col-md-12{% endif %}">
				{{ attribute(_self, child.fieldType.type|replace({'\\': '_'}), [child]) }}
			</div>
		{% endfor %}
    {% if dataField.fieldType.displayOptions.label is defined %}
    		</div>
		</div>
	{% endif %}
{% endmacro %}

{% macro AppBundle_Form_DataField_TabsFieldType(dataField) %}
		<div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
            	{% for child in dataField.children if not child.fieldType.deleted %}
	              <li class="{% if loop.index == 1%}active{% endif %}"><a href="#item_{{ child.id}}__tab" data-toggle="tab" aria-expanded="false">
	              {% if child.fieldType.displayOptions.label is defined %}
						{{ child.fieldType.displayOptions.label }}
					{% else %}
						{{ child.fieldType.name }}
					{% endif %}
				</a></li>
            	{% endfor %}
            </ul>
            <div class="tab-content">
            	{% for child in dataField.children if not child.fieldType.deleted %}
	              <div class="tab-pane{% if loop.index == 1%} active{% endif %}" id="item_{{ child.id}}__tab">
	              	{{ attribute(_self, child.fieldType.type|replace({'\\': '_'}), [child]) }}
	              </div>
              {% endfor %}
            </div>
            <!-- /.tab-content -->
         </div>  
{% endmacro %}


{% macro AppBundle_Form_DataField_DataLinkFieldType(dataField) %}
	<dl>
		{% if dataField.fieldType.displayOptions.label is defined %}
			<dt>{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})</dt>
		{% else %}
			<dt>{{ dataField.fieldType.name }}</dt>
		{% endif %}
		<dd>
			{% if dataField.fieldType.displayOptions.multiple %}
				<ul>
					{% for value in dataField.arrayValue %}
						<li>{{ value }}</li>
					{% endfor %}
				</ul>
			{% else %}
				{{ dataField.textValue }}
			{% endif %}
		
		</dd>
	</dl>
{% endmacro %}

{% macro AppBundle_Form_DataField_SelectFieldType(dataField) %}
	<dl>
		{% if dataField.fieldType.displayOptions.label is defined %}
			<dt>{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})</dt>
		{% else %}
			<dt>{{ dataField.fieldType.name }}</dt>
		{% endif %}
		<dd>
			{% if dataField.fieldType.displayOptions.multiple %}
				<ul>
					{% for value in dataField.arrayValue %}
						<li>{{ value }}</li>
					{% endfor %}
				</ul>
			{% else %}
				{{ dataField.textValue }}
			{% endif %}
		
		</dd>
	</dl>
{% endmacro %}

{% macro AppBundle_Form_DataField_OuuidFieldType(dataField) %}
	<dl>
		{% if dataField.fieldType.displayOptions.label is defined %}
			<dt>{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})</dt>
		{% else %}
			<dt>{{ dataField.fieldType.name }}</dt>
		{% endif %}
		<dd>{{ dataField.textValue }}</dd>
	</dl>
{% endmacro %}

{% macro AppBundle_Form_DataField_TextFieldType(dataField) %}
	<dl>
		{% if dataField.fieldType.displayOptions.label is defined %}
			<dt>{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})</dt>
		{% else %}
			<dt>{{ dataField.fieldType.name }}</dt>
		{% endif %}
		
		<dd>{{ dataField.textValue }}</dd>
	</dl>
{% endmacro %}

{% macro AppBundle_Form_DataField_TextareaFieldType(dataField) %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name }}
			{% endif %}
		</dt>
		<dd>
			<div class="panel panel-default">
				<div class="panel-body">
					{{ dataField.textValue }}
				</div>
			</div>
		</dd>
	</dl>
{% endmacro %}

{% macro AppBundle_Form_DataField_WysiwygFieldType(dataField) %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name }}
			{% endif %}
		</dt>
		<dd>
			<div class="panel panel-default">
				<div class="panel-body">	
					{{ dataField.textValue|raw }}
				</div>
			</div>
		</dd>
	</dl>
{% endmacro %}

{% macro AppBundle_Form_DataField_PasswordFieldType(dataField) %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name }}
			{% endif %}
		</dt>
		<dd>
			{% if dataField.textValue %}	
				***************
			{% else %}
				not defined
			{% endif %}
		</dd>
	</dl>
{% endmacro %}

{% macro AppBundle_Form_DataField_EmailFieldType(dataField) %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name }}
			{% endif %}
		</dt>
		<dd>
			{{ dataField.textValue|raw }}
		</dd>
	</dl>
{% endmacro %}

{% macro AppBundle_Form_DataField_RadioFieldType(dataField) %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name }}
			{% endif %}
		</dt>
		<dd>
			{{ dataField.textValue|raw }}
		</dd>
	</dl>
{% endmacro %}

{% macro AppBundle_Form_DataField_ChoiceFieldType(dataField) %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name }}
			{% endif %}
		</dt>
		<dd>
			<ul>
				{% for value in dataField.arrayValue %}
					<li>{{ value|raw }}</li>
				{% endfor %}
			</ul>
		</dd>
	</dl>
{% endmacro %}

{% macro AppBundle_Form_DataField_CheckboxFieldType(dataField) %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name|raw }}
			{% endif %}
		</dt>
		<dd>
			{% if dataField.booleanValue %}
		 		<i class="fa fa-check-square-o"></i>
			{% else %}
				<i class="fa fa-square-o"></i>
			{% endif %}
		</dd>
	</dl>
{% endmacro %}

{% macro AppBundle_Form_DataField_NumberFieldType(dataField) %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name|raw }}
			{% endif %}
		</dt>
		<dd>
			{{ dataField.floatValue }}
		</dd>
	</dl>
{% endmacro %}

{% macro AppBundle_Form_DataField_DateFieldType(dataField) %}
	<dl>
		<dt>
			{% if dataField.fieldType.displayOptions.label is defined %}
				{{ dataField.fieldType.displayOptions.label }} ({{ dataField.fieldType.name }})
			{% else %}
				{{ dataField.fieldType.name|raw }}
			{% endif %}
		</dt>
		<dd>
			{{ dataField.textValue }}
		</dd>
	</dl>
{% endmacro %}