{% extends 'base.html.twig' %}

{% block title %}{{ view.name }} of {{view.contentType.name|humanize}}{% endblock %}
{% block pagetitle %}{{ view.name }} of {{view.contentType.name|humanize}}{% endblock %} 
{# {% block subtitle %}<!-- TODO -->{% endblock %} #}


{% block body %}

<div class="row">

	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Configuration</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			<form action="{{ url('views.criteria.table') }}" method="get" name="criteriaconfig">
				<input type="hidden" name="contentTypeId" value="{{ contentType.id }}">
				<input type="hidden" name="viewId" value="{{ view.id }}">
				<div class="box-body">
					{% for criteria in criterionList.validChildren %}
						<div class="form-group col-md-3">
							<label for="criterion_{{ loop.index }}">
								{% if loop.index == criterionList.validChildren|length %}
									Column
								{% elseif (loop.index+1) == criterionList.validChildren|length  %}
									Row
								{% else %}
									Criterion {{ loop.index }} (field)
								{% endif %}
							</label>
							<select data-filter="criterion_filter_{{ loop.index }}"  class="form-control select2 select2FieldTarget" id="criterion_{{ loop.index }}" name="criterion[{{ loop.index-1 }}][field]" style="width: 100%;">
								{% set currentCirterion = loop.index %}
								{% for option in criterionList.validChildren %}
		                    		<option value="{{ option.id }}" {% if currentCirterion == loop.index %}selected{% endif %}>{{ option.name|humanize }}</option>
		                    	{% endfor %}
			                </select>
						</div>
							<div class="form-group col-md-3">
								<label for="criterion_filter_{{ loop.index }}">
									{% if loop.index == criterionList.validChildren|length %}
										Column
									{% elseif (loop.index+1) == criterionList.validChildren|length  %}
										Row
									{% else %}
										Criterion {{ loop.index }}
									{% endif %}
									(filter)
								</label>
								<select 
									{% if loop.index >= (criterionList.validChildren|length - 1)  %}
										multiple="multiple" 
									{% else %}
										required="true"
									{% endif %}									
									data-field-target="criterion_{{ loop.index }}" class="form-control select2Filter" id="criterion_filter_{{ loop.index }}" name="criterion[{{ loop.index-1 }}][filters][]" style="width: 100%;">
				                </select>
							</div>
					{% endfor %}
				</div>
				<!-- /.box-body -->
	
				<div class="box-footer">
					<button type="submit" class="btn btn-primary" id="applyConfig">Apply</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12" id="table_container">
	</div>
</div>

{% endblock %} 


{% block javascripts %}
	{% include 'app/menu.html.twig' with {
		'item':  'data-view-'~ contentType.id ~ '-' ~ view.id
	}%}
	
	<script type="text/javascript">
<!--

//-->
function formatRepo (repo) {
    if (repo.loading) return repo.text;

    var markup = "<div class='select2-result-repository clearfix'>" +
      repo.text + "</div>";
      
    return markup;
}

function formatRepoSelection (repo) {
	return repo.text;
}


function formatRepoSelectionForTable (repo) {
	var color = $(repo.element).data('color');
	if(!color) {
		color = repo.color;
	}
	
	var url = "{{ url('data.revisions', {type: '__type__' , ouuid: '__ouuid__' }) }}";
	url = url.replace('__type__:__ouuid__', repo.id);

	var complementary;
	if(color){
		//var colorIntValue = parseInt(color.replace("#", "0x"));
		//complementary = '#'+('000000' + (('0xffffff' ^ colorIntValue).toString(16))).slice(-6);

		complementary = (luma(color.replace("#", "")) >= 165) ? '#000000' : '#ffffff';
	}

	var html = $("<a href=\""+url+"\" style=\"color: "+complementary+";background-color: "+color+"; padding: 2px;\">"+repo.text+"</a>");
	return html;
}

$(window).load(function() {

	$('#applyConfig').click(function(event){
		event.preventDefault();
		var formContent = $("form[name=criteriaconfig").serialize();

		$('#table_container').empty();
		
		$.get("{{ url('views.criteria.table') }}", formContent)
		  .done(function(message) {

			  $('#table_container').append(message);

			  $('#table_container select').select2({
				  ajax: {
					    url: '{{ url("elasticsearch.api.search") }}',
					    dataType: 'json',
					    delay: 250,
					    data: function (params) {
					      return {
					        q: params.term, // search term
					        environment: {{ contentType.environment.name|json_encode|raw }},
					        type: {{ contentType.name|json_encode|raw }},
					        page: params.page
					      };
					    },
					    processResults: function (data, params) {
					      // parse the results into the format expected by Select2
					      // since we are using custom formatting functions we do not need to
					      // alter the remote JSON data, except to indicate that infinite
					      // scrolling can be used
					      params.page = params.page || 1;
					
					      return {
					        results: data.items,
					        pagination: {
					          more: (params.page * 30) < data.total_count
					        }
					      };
					    },
					    cache: true
					  },
					  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
					  minimumInputLength: 1,
					  templateResult: formatRepo, // omitted for brevity, see the source of this page
					  templateSelection: formatRepoSelectionForTable // omitted for brevity, see the source of this page
				});

			  	$('#table_container select').change(function(){
					var filters = $.merge( $(this).closest('td').data('filters'), $(this).closest('table').data('filters') )
				  	$(this).children("option:selected").each(function() {
					  	var data = { 
					  			filters: filters, 
							  	target: $(this).val(), 
							  	criteriaField: {{ view.options.criteriaField|json_encode|raw }}
						};
						
					  	$.post( "{{ url('views.criteria.add') }}", data)
				  	  		.fail(function( ) {
					  	    	alert("It was impossible to save the last change! Please reload the page and retry.");
					  	});

// 					  	color = $(this).data('color');
// 					  	console.log(color);
// 					  	console.log($(this));
// 					  	if(color){
// 						  	$(this).closest('td').find('li[title="'+$(this).html()+'"]').each(function (){
// 								console.log($(this));
// 							  	$(this).attr('style', 'background-color: red; border-color: red;');
// 							});
// 						}
					  	
				  	});
				  	
				  	$(this).children("option:not(:selected)").each(function() {
					  	var data = { 
					  			filters: filters, 
							  	target: $(this).val(), 
							  	criteriaField: {{ view.options.criteriaField|json_encode|raw }}
						};
						
					  	$.post( "{{ url('views.criteria.remove') }}", data)
				  	  		.fail(function( ) {
					  	    	alert("It was impossible to save the last change! Please reload the page and retry.");
					  		});
				  	});
				});
			  
		  })
		  .fail(function() {
			alert( "Unable to retrieve the criteria table." );
		  })
		  .always(function() {
// 			globalWaitingResponse = false;
		});
	});

	$(".select2Filter").each(function(){
		
		var targetField = $("#"+$(this).data('field-target'));

		$( this ).select2({
			  ajax: {
			    url: '{{ url("views.criteria.fieldFilter") }}',
			    dataType: 'json',
			    delay: 250,
			    data: function (params) {
				    
			      return {
			        q: params.term, // search term
			        page: params.page,
			        targetField: targetField.val(),
			      };
			    },
			    processResults: function (data, params) {
			      // parse the results into the format expected by Select2
			      // since we are using custom formatting functions we do not need to
			      // alter the remote JSON data, except to indicate that infinite
			      // scrolling can be used
			      params.page = params.page || 1;
			
			      return {
			        results: data.items,
			        pagination: {
			          more: (params.page * 30) < data.total_count
			        }
			      };
			    },
			    cache: true
			  },
			  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
			  minimumInputLength: 0,
			  templateResult: formatRepo, // omitted for brevity, see the source of this page
			  templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
			});
		
	});
	
});






</script>
{% endblock %}	