	<form role="form" id="criteria-form" data-filters="{{ criteriaFilters|json_encode }}">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">
				
				{% for criterion in criteriaFilters %}
					{% if loop.index0 == 0 %}
						for
						{% if criteriaFilters|length > 1 %}
							criteria
						{% else %}
							criterion
						{% endif %}
					{% else %}
						and 
					{% endif %}
					<b>{{ criterion.name|humanize }}</b> = <b>{{ criterion.value }}</b>
				{% endfor %}
				</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div id="example1_wrapper"
					class="dataTables_wrapper form-inline dt-bootstrap">
					<div class="row">
						<div class="col-sm-12">
							<table id="example1"
								class="table table-bordered table-striped dataTable" role="grid"
								aria-describedby="example1_info">
								<thead>
									<tr role="row">
										<th rowspan="1" colspan="1">&nbsp;</th>
										{% for columnIdx in table|first|keys %}
											<th rowspan="1" colspan="1">{{ columnIdx|humanize }}</th>	
										{% endfor %}
									</tr>
								</thead>
								<tbody>
									{% for rowIdx in table|keys %}
										<tr role="row">
											<th>{{ rowIdx|humanize }}</th>
											{% for col in attribute(table, rowIdx) %}
												<td class="row" data-filters="[{ &quot;id&quot;:{{ rowFieldType.id|e }}, &quot;name&quot;: &quot;{{ rowFieldType.name|e }}&quot;, &quot;value&quot;: &quot;{{ rowIdx|e }}&quot; },{ &quot;id&quot;:{{ columnFieldType.id|e }}, &quot;name&quot;: &quot;{{ columnFieldType.name|e }}&quot;, &quot;value&quot;: &quot;{{ attribute(table|first|keys, loop.index0) }}&quot;}]">
{# 													<div class="form-group col-md-12">#}
								                  <select style="width: 100%" multiple>
								                  	{% for card in col %}
									                    <option value="{{ card.value }}" selected 
									                    data-color="{{ card.color }}">{{ card.label }}</option>
								                  	{% endfor %}
								                  </select>
{# 													</div>#}
												</td>
											{% endfor %}
										</tr>
									{% endfor %}
{# 									<tr role="row" class="odd">#}
{# 										<td class="sorting_1">Gecko</td>#}
{# 										<td>Firefox 1.0</td>#}
{# 										<td>Win 98+ / OSX.2+</td>#}
{# 										<td>1.7</td>#}
{# 										<td>A</td>#}
{# 									</tr>#}
								</tbody>
								<tfoot>
									<tr>
										<th rowspan="1" colspan="1">&nbsp;</th>
										{% for columnIdx in table|first|keys %}
											<th rowspan="1" colspan="1">{{ columnIdx|humanize }}</th>	
										{% endfor %}
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
	</form>