{% extends 'base.html.twig' %}

{% block title %}Draft in progress for object {{ contentType.name }}{% endblock %}
{% block pagetitle %}Draft in progress for object {{ contentType.name }}{% endblock %} 


{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="box ">
			<div class="box-header with-border text-{{ contentType.color }}">
				<i class=" {% if contentType.icon %}{{ contentType.icon }}{% else %}fa fa-book{% endif %}"></i>
				<h3 class="box-title"> {{ contentType.pluralName|humanize }} in progress</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table class="table table-condensed table-striped">
					<tbody>
						<tr>
							<th class="text-center" style="width: 10px">#</th>
							<th>OUUID</th>
							<th>Label</th>
							<th>Last author</th>
							<th>Last update</th>
							<th>Action</th>
						</tr>
						{% for revision in revisions %}
							<tr>
								<td class="text-center">{{ loop.index }}.</td>
								<td>{{ revision.ouuid }}</td>
								<td>
								{% if revision.contentType.labelField is defined and revision.dataField %}
									{% if attribute(revision.dataField, '__get', {key: revision.contentType.labelField}) %}
										{{ attribute(revision.dataField, '__get', {key: revision.contentType.labelField}).textValue }}
									{% endif %}
								{% endif %}
								</td>
								<td>{{ revision.lockby }}</td>
								<td>{{ revision.modified|date(date_time_format) }}</td>
								<td>
								
									<div class="btn-group">
										{% include 'elements/get-button.html.twig' with {
											'url':  path('revision.edit', {'revisionId': revision.id}),
											'label': 'Edit',
											'icon': 'pencil'
										}%}
										{% include 'elements/post-button.html.twig' with {
											'url': path('revision.discard', {'revisionId': revision.id}),
											'message': 'Discard this draft ?',
											'label': 'Discard',
											'icon': 'trash'
										}%}
				                    </div>
								
              
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
			<!-- /.box-body -->
		</div>
	</div>
</div>
{% endblock %}


{% block javascripts %}
	{% include 'app/menu.html.twig' with {
		'item':  'data-draft-' ~ contentType.id
	}%}
{% endblock %}	