{% extends 'base.html.twig' %}

{% block title %}Index of {{ contentType.pluralName }}{% endblock %}
{% block pagetitle %}Index of {{ contentType.pluralName }}{% endblock %} 
{% block subtitle %}<small><span class=" badge">{{ results.hits.total }}</span></small>{% endblock %} 



{% block body %}
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
			{% include 'elements/pagination.html.twig' with {
				'lastPage': lastPage,
				'currentPage': currentFilters.page,
				'currentFilters': currentFilters,
				'paginationPath': paginationPath,
				'showAlwaysFirstAndLast': false
			} %}
			</div>
			<div class="box-body">
			{% for object in results.hits.hits %}
			
			<div class="panel panel-default">
			  <div class="panel-heading text-{{ contentType.color }}">
			  	<i class="{% if contentType.icon %}{{ contentType.icon }} {% else %} fa fa-question {% endif %} "></i> 
				{% if (contentType.labelField) and (attribute(attribute(object, '_source'), contentType.labelField)  is defined ) %}
					{{ attribute(attribute(object, '_source'), contentType.labelField) }}
				{% else %}
					{{ object._id }}
				{% endif %}
			  </div>
			  {% if contentType.indexTwig %}
			  <div class="panel-body">
				{{ object._ems_twig_rendering|raw }}
			  </div>
			  {% endif %}
			</div>			

			{% endfor %}
			</div>
			<div class="box-footer">
			{% include 'elements/pagination.html.twig' with {
				'lastPage': lastPage,
				'currentPage': currentFilters.page,
				'currentFilters': currentFilters,
				'paginationPath': paginationPath,
				'showAlwaysFirstAndLast': false
			} %}
			</div>
		</div>
	</div>
	

</div>
{% endblock %} 