{% extends 'base.html.twig' %}

{% block title %}Index of {{ contentType.pluralName }}{% endblock %}
{% block pagetitle %}Index of {{ contentType.pluralName }}{% endblock %} 
{% block subtitle %}<small><span class=" badge">{{ results.hits.total }}</span></small>{% endblock %} 



{% block body %}
<div class="row">
	<div class="col-xs-12">
	
		<div class="btn-toolbar" role="toolbar" style="margin: 0;">
	      <div class="btn-group pull-right">
	           {% include 'elements/pagination.html.twig' with {
						'lastPage': lastPage,
						'currentPage': currentFilters.page,
						'currentFilters': currentFilters,
						'paginationPath': paginationPath,
						'showAlwaysFirstAndLast': false
				} %}
	      </div>
	    </div>
		
		<div>&nbsp;</div>	
			
			{% for object in results.hits.hits %}
			
				<div class="box box-info">
				  <div class="box-header text-{{ contentType.color }}">
				  	<i class="{% if contentType.icon %}{{ contentType.icon }} {% else %} fa fa-question {% endif %} "></i> 
					{% if (contentType.labelField) and (attribute(attribute(object, '_source'), contentType.labelField)  is defined ) %}
						{{ attribute(attribute(object, '_source'), contentType.labelField) }} <small>({{ object._id }})</small>
					{% else %}
						{{ object._id }}
					{% endif %}
				  </div>
				  {% if contentType.indexTwig %}
				  <div class="box-body">
					{{ object._ems_twig_rendering|raw }}
				  </div>
				  {% endif %}
					  <div class="box-footer">
					  	{% include 'elements/object-toolbar.html.twig' with {
							'object':  object,
							'contentType': contentType,
							'environment': contentType.environment
						}%}
					  </div>
				</div>			

			{% endfor %}

		<div class="btn-toolbar" role="toolbar" style="margin: 0;">
	      <div class="btn-group pull-right">
	           {% include 'elements/pagination.html.twig' with {
						'lastPage': lastPage,
						'currentPage': currentFilters.page,
						'currentFilters': currentFilters,
						'paginationPath': paginationPath,
						'showAlwaysFirstAndLast': false
				} %}
	      </div>
	    </div>
	    
	</div>
	

</div>
{% endblock %} 

{% block javascripts %}
	{% include 'app/menu.html.twig' with {
		'item':  'data-index-' ~ contentType.id
	}%}
{% endblock %}	
