{% extends 'base.html.twig' %}

{% block title %}Revisions of {{ revision.contentType.name|humanize }} : {{ revision.ouuid }}{% endblock %}
{% block pagetitle %}
	<i class="{% if revision.contentType.icon %}{{ revision.contentType.icon }} {% else %} fa fa-question {% endif %} "></i>
	Revisions of {{ revision.contentType.name }} : {{ revision.ouuid }}
{% endblock %} 
{% block subtitle %}<small>You are viewing the last revision as defined in eMS</small>{% endblock %} 


{% block body %}
{% import "macros/data-field-type.html.twig" as macros %}
<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div
				class="box-header with-border bg-{{ revision.contentType.color }} color-palette">
				<h3 class="box-title">
					{% if revision.draft %}
						<i class="fa fa-fire"></i>
						Draft in progress
					{% elseif not revision.endTime %}
						<i class="fa fa-thumbs-up"></i>
						Current revision
					{% else %} 
						<i class="fa fa-clock-o"></i>
						Previous revision ({{ revision.startTime|date(date_time_format) }})
					{% endif %}
				</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			<div class="box-body">{{ macros.renderDataField(revision.dataField) }}</div>
			<!-- /.box-body -->
			<div class="box-footer">
				{% include 'elements/revision-toolbar.html.twig' with {
								'revisionId' : revision.id,
								'environments': revision.environments,
								'draft': revision.draft,
								'current': not revision.endTime,
								'instance': revision
				}%}
					
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Revisions</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<th style="width: 10px">#</th>
							<th>Date</th>
							<th>Locked</th>
							<th>Environments</th>
							<th>Actions</th>
						</tr>
						{% for rev in revisionsSummary %}
						<tr {% if rev.id == revision.id %}class="bg-{{ revision.contentType.color }}"{% endif %}>
							<td>{{ loop.index }}.</td>
							<td>{{ rev.created|date }}</td>
							<td>
								{% if rev.lockUntil and rev.lockUntil > date('now') %}
									{{ rev.lockBy }}
								{% endif %}
							</td>
							<td>
								{% for env in rev.environments %}
									<span class="badge bg-{{ env.color|raw }}">{{ env.name|humanize }}</span>
								{% endfor %}
								{% if rev.draft %} 	
									<span class="badge bg-red">Draft in progress</span>
								{% endif %}
							</td>
							<td>
							{% include 'elements/revision-toolbar.html.twig' with { 
								'revisionId' : rev.id,
								'environments': rev.environments,
								'draft': rev.draft,
								'current': not rev.endTime,
								'instance': revision
							}%}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{% include 'app/menu.html.twig' with {
		'item':  'data-index-' ~ revision.contentType.id
	}%}
{% endblock %}	