{% extends 'base.html.twig' %}

{% block title %}VIEW DATA{% endblock %}
{% block pagetitle %}
	<i class="{% if revision.contentType.icon %}{{ revision.contentType.icon }} {% else %} fa fa-question {% endif %} "></i>
	{{ revision.contentType.name|humanize }} : {{ revision.ouuid }}
{% endblock %} 
{% block subtitle %}<small>You are viewing the object as defined in eMS (not in Elasticsearch)</small>{% endblock %} 


{% block body %}
{% import "view/macros.html.twig" as macros %}

<div class="box">
	<div class="box-header with-border bg-{{ revision.contentType.color }} color-palette">
		<h3 class="box-title">
			<i class="{% if revision.contentType.icon %}{{ revision.contentType.icon }} {% else %} fa fa-question {% endif %} "></i>
			Data
		</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
		<div class="box-body">
			{{ macros.renderDataField(revision.dataField) }}
		</div>
		<!-- /.box-body -->
		<div class="box-footer">
			<div class="btn-group pull-right">

			</div>
		</div>
</div>

{% endblock %}