{% extends 'base.html.twig' %} 

{% block title %} List Notificagtions {%endblock %} 
{% block pagetitle %} List Notifications {% endblock %} 

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="box ">
			<div class="box-header with-border">
				<i class="fa fa-file-text-o"></i>
				<h3 class="box-title">Notifications in pending</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<!-- Notifications Menu -->
				<span>You have {{ counter }} notification(s)</span>

				<table class="table table-condensed table-striped">
					<tbody>
						<tr>
							<th class="text-center" style="width: 10px">#</th>
							<th>Type of notification</th>
							<th>Create by</th>
							<th>Date</th>
							<th>Environment</th>
							<th>Oouid</th>
							<th>Action</th>
						</tr>
					</tbody>
					{% for notification in notifications %}
						<tr>
							<td class="text-center">{{ loop.index }}.</td>
							<td>{{ notification.template }}</td>
							<td>{{ notification.notification.username|humanize }}</td>
							<td>{{ notification.notification.created|date|date(date_time_format) }}</td>
							<td>
								<span class="badge bg-{{ notification.envColor|raw }}">{{ notification.env|humanize }}</span>
							</td>
							<td>
							<a href="{{ path('data.revisions', {'type': notification.contentType, 'ouuid': notification.revisionOuuid, 'revisionId': notification.revisionId} ) }}">
								<span class="fa fa-eye"></span>
								{{ notification.revisionOuuid }}
							</a>
		
							<td>
								<div class="btn-group">
									mark as treated 
			                    </div>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %} 