{% extends 'base.html.twig' %}

{% block title %}Search engine: {{ results.hits.total }} results{% endblock %}
{% block pagetitle %}
	Search
{% endblock %} 
{% block subtitle %}<small><span class=" badge">{{ results.hits.total }}</span></small>{% endblock %} 



{% block body %}

<div class="row">
	<div id="search-page" class="col-md-12">

		{{ form_start(form) }}
		
			<div class="box ">
				<div class="box-header with-border">
					<h3>
						<i class="fa fa-search"></i> Search form
					</h3>
				</div>
				<div class="box-body">
					<div class="row">
						<span class=" col-md-2">
							{{ form_row(form.boolean) }}
						</span>
					</div>
					<div class="row" id="list-of-search-filters" data-prototype="{{ form_row(form.filters.vars.prototype)|e }}" data-index="{{ form.filters|length }}">
						{{ form_widget(form.filters) }}
					</div>
				</div>
				{% set hasFacets= form.aliasFacet.vars.value or form.typeFacet.vars.value %}
				{% if hasFacets %}
				<div class="box-body">
							Facets : 
							{% if form.typeFacet.vars.value %}
								{% if attribute(types, form.typeFacet.vars.value ) is defined %}
									<a href="{{ path(paginationPath, currentFilters|merge({'search_form[typeFacet]': ''})) }}">
										<span class=" badge bg-{{ attribute(types, form.typeFacet.vars.value).color }}" >
											<i class="fa fa-close"></i>
											{{ form.typeFacet.vars.value|humanize }}
										</span>
									</a>
								{% else %}
									<a href="{{ path(paginationPath, currentFilters|merge({'search_form[typeFacet]': ''})) }}">
										<span class="badge" >
											<i class="fa fa-close"></i>
											{{  form.typeFacet.vars.value|humanize }}
										</span>
									</a>
								{% endif %}
							{% endif %}
							{% if form.aliasFacet.vars.value %}
								<a href="{{ path(paginationPath, currentFilters|merge({'search_form[aliasFacet]': ''})) }}">
									<span class=" badge bg-{{ attribute(alias, form.aliasFacet.vars.value).color }}" >
										<i class="fa fa-close"></i>
										{{ attribute(alias, form.aliasFacet.vars.value).name|humanize }}
									</span>
								</a>
							{% endif %}
				</div>
				{% endif %}						
				<div class="box-footer">
					<div class="form-group">
						<div class="btn-group">
							<a class="btn btn-primary" href="#" id="add-search-filter-button"><i class="fa fa-plus"></i> Add filter</a>
							{{ form_widget(form.search) }}
						</div>
						<div class="btn-group pull-right">
							{% if searchId %}
								{% include 'elements/post-button.html.twig' with {
									'url':  path('elasticsearch.search.delete', {'id': searchId, 'search': app.request.query}),
									'message': 'Do you confirm ?',
									'label': 'Delete',
									'icon': 'trash',
									'class': 'btn'
								}%}
							{% endif %}
							{% if form.exportResults is defined %}
								{{ form_widget(form.exportResults) }}
							{% endif %}
							{% if form.save is defined %}
								{{ form_widget(form.save) }}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{{ form_end(form) }}


	</div>
	<div id="search-page" class="col-md-9">
		{% if results.hits.total > 0 %}
		<div class="box">
			
			{% if lastPage > 1 or hasFacets %}
				<div class="box-header">
				
			
				
				{% include 'elements/pagination.html.twig' with {
					'lastPage': lastPage,
					'currentPage': page,
					'currentFilters': app.request.query,
					'paginationPath': paginationPath,
					'showAlwaysFirstAndLast': false
				} %}
				</div>
			{% endif %}
			<div class="box-body">
			{% for result in results.hits.hits %}
			<div class="panel panel-default">
			  <div class="panel-heading">
			  	<span class="text-{{ attribute(indexes, result._index).color }}">
				 	{{ attribute(indexes, result._index).name|humanize }} 
			  	</span>
			  	|
			  	{% if attribute(types, result._type) is defined %}
			  		<span class="text-{{ attribute(types, result._type).color }}">
					  	<i class="{{ attribute(types, result._type).icon }}"></i> 
					  	{{ result._type|humanize }} | 
					  	
					  	
					  	{% set contentType=attribute(types, result._type) %}
						{% if (contentType.labelField and attribute(result._source, contentType.labelField)  is defined ) %}
							{{ attribute(result._source, contentType.labelField) }} <small>({{ result._id }})</small>
						{% else %}
							{{ result._id }}
						{% endif %}
			  		</span>
			  	{% else %}
				  	<i class="fa fa-question"></i> 
				  	{{ result._type|humanize }} | {{ result._id }}
			  	{% endif %}
			  
			  
				{#<span class=" badge pull-right">{{ (result._score*100)|round }}</span>#}
			  </div>
			  	{% if result.highlight is defined and result.highlight %}
				  	<div class="panel-body">
				  		<div class="col-xs-12">
					  		{{ result.highlight._all.0|e|replace({'&lt;em&gt;': '<em>', '&lt;/em&gt;': '</em>'})|raw }}
				  		</div>
			  		</div>
			  	{% endif %}
			  	{% if attribute(types, result._type) is defined %}
			  		<div class="panel-body">
					  	<div class="col-xs-12">
							{% include template_from_string(attribute(types, result._type).indexTwig) with {
									environment: attribute(indexes, result._index),
									contentType: attribute(types, result._type),
									object: result,
									source: result._source
								} %}
				  		</div>
					</div>
			  	{% endif %}
			  		<div class="box-footer">
			  			{% if attribute(types, result._type) is defined %}
						  	{% include 'elements/object-toolbar.html.twig' with {
								environment: attribute(indexes, result._index),
								contentType: attribute(types, result._type),
								object: result,
							}%}
						{% else %}
						  	{% include 'elements/object-toolbar.html.twig' with {
								environment: attribute(indexes, result._index),
								contentType: null,
								object: result,
							}%}
						{% endif %}
					</div>
			</div>			

			{% endfor %}
			</div>
			{% if lastPage > 1 %}
				<div class="box-footer">
				{% include 'elements/pagination.html.twig' with {
					'lastPage': lastPage,
					'currentPage': page,
					'currentFilters': app.request.query,
					'paginationPath': paginationPath,
					'showAlwaysFirstAndLast': false
				} %}
				</div>
			{% endif %}
		</div>
	</div>
	<div id="search-facets" class="col-md-3">
		
		{% if not form.typeFacet.vars.value %}
			<div class="box">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-sitemap"></i> Content types</h3>
				</div>
				<div class="box-body">
					<ul class="list-group">
					{% for index in results.aggregations.types.buckets %}
						<li class="list-group-item">
							{% if attribute(types, index.key) is defined %}
									<a href="{{ path(paginationPath, currentFilters|merge({'search_form[typeFacet]': index.key, 'search_form[_token]': '', page: 1})) }}" class="text-{{ attribute(types, index.key).color }}">
										<i class="{{ attribute(types, index.key).icon }}"></i>
										{{ index.key|humanize }} 
										<span class=" badge pull-right bg-{{ attribute(types, index.key).color }}">{{ index.doc_count }}</span>
									</a>
							{% else %}
								<a href="{{ path(paginationPath, app.request.query|merge({'search_form[typeFacet]': index.key, 'search_form[_token]': '', page: 1})) }}" class="text-black">
									<i class="fa fa-question"></i>
									{{ index.key|humanize }}
									<span class=" badge pull-right">{{ index.doc_count }}</span>
								</a>
							{% endif %}
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
		
		{% if not form.aliasFacet.vars.value %}
			<div class="box">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-database"></i> Environments</h3>
				</div>
				<div class="box-body">
					<ul class="list-group">
						{% for index in results.aggregations.indexes.buckets %}
							<li class="list-group-item">
								<a href="{{ path(paginationPath, currentFilters|merge({'search_form[aliasFacet]': attribute(indexes, index.key).alias})) }}" class="text-{{ attribute(indexes, index.key).color }}">
									{{ attribute(indexes, index.key).name|humanize }} 
									<span class=" badge pull-right bg-{{ attribute(indexes, index.key).color }}">
										{{ index.doc_count }}
									</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
	</div>
	{% endif %}

</div>
{% endblock %} 

{% block javascripts %}

{% if searchId  %}
	{% include 'app/menu.html.twig' with {
		'item':  'search-preset-'~searchId
	}%}
{% elseif form.typeFacet.vars.value and attribute(types, form.typeFacet.vars.value ) is defined%}
	{% include 'app/menu.html.twig' with {
		'item':  'data-index-' ~ attribute(types, form.typeFacet.vars.value ).id
	}%}
{% endif %}

<script type="text/javascript">
<!--

//-->



$(window).ready(function() {
	$('#add-search-filter-button').on('click', function(e) {
		// prevent the link from creating a "#" on the URL
        e.preventDefault();

        var $listFilters = $('#list-of-search-filters');
        var prototype = $listFilters.data('prototype');
        var index = $listFilters.data('index');
     	// Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = $(prototype.replace(/__name__/g, index));

     	// increase the index with one for the next item
        $listFilters.data('index', index + 1);

        newForm.find('.remove-filter').on('click', function(e) {
    		// prevent the link from creating a "#" on the URL
            e.preventDefault();

            console.log($(this).parents('.filter-container').remove());
            
    	});

        $listFilters.append(newForm);
        
	});

	$('.remove-filter').on('click', function(e) {
		// prevent the link from creating a "#" on the URL
        e.preventDefault();

        console.log($(this).parents('.filter-container').remove());
        
	});
});
</script>
{% endblock %}	